.ui.banner.test.ad{
  background-color: #8D889F;
  width: 100%;
  height: 6%;
}
.ui.borderless.top.menu{
  box-shadow: none;
  border: none;
}
.ui.borderless.mid.menu{
  box-shadow: none;
  border: none;
  padding-left: 275px;
}
.ui.logo{
  padding-left: 45%;
}
.ui.centered.image{
  width: 100%;
}